.story-game {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #4cc7bd;
     padding: 0;
     margin: 0;
     height: 100vh;
     display: flex;
     flex-direction: column;
     position: relative;
   }
   
   .storygame-form {
     display: flex;
     flex-direction: column;
     height: 100%;
     padding: 0 15px;
     box-sizing: border-box;
     justify-content: center;
   }
   
   .story-section {
    background-color: #ffd73c;
    padding: 30px 50px;
   border-radius: 8px;
   margin: 0 auto 20px;
   width: 50%;
   box-sizing: border-box;
   align-self: center;
   text-align: center;
   min-height: 400px;
   position: relative;
 }

   .storyquestion-section {
      background-color: #ffd73c;
      padding: 30px 50px;
     border-radius: 8px;
     margin: 0 auto 20px;
     width: 50%;
     box-sizing: border-box;
     align-self: center;
     text-align: center;
     min-height: 400px;
   }
   
   .storyanswers-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 30px;
     width: 100%;
     max-width: 1000px;
     margin-bottom: 20px;
   }
   
   .storyanswer-button {
     background-color: #ddd;
     border: none;
     padding: 30px;
     border-radius: 8px;
     cursor: pointer;
     font-family: inherit;
     transition: background-color 0.3s ease;
     text-align: center;
     font-size: 18px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     width: 100%;
   }
   
   .storyanswer-button.correct {
     background-color: #4caf50;
     color: white;
   }
   
   .storyanswer-button.incorrect {
     background-color: #f44336;
     color: white;
   }
   
   .storyanswer-button:hover {
     background-color: #e6c035;
   }
   
   .storyanswer-button.selected {
     background-color: #ffdd99;
     border: 2px solid #ffd73c;
   }

   .storycontinue-button {
    background-color: #ffd73c;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

   .storyarrow {
    background-color: #ffd73c;
    transition: border-color 0.3s ease;
    margin-top: 20px;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    border-color: #f0f0f0;
  }

  .storyarrow::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 25px;
    border-color: transparent transparent transparent #f0f0f0;
  }

  .storyarrow:hover::after {
    border-color: transparent transparent transparent #fd3d7b;
  }

  .page-count {
    font-size: 16px;
    color: #faf8f8;
    position: absolute;
    bottom: 40px;
    left: 40px;
    background-color: #f1cc37;
    padding: 5px;
    border-radius: 4px;
  }