html, body {
     height: 100%;
     margin: 0;
     padding: 0;
}

body {
     background-color: #4cc7bd;
}

.create-game-screen {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
     width: 100vw;
}

.carousel {
     display: flex;
     overflow: hidden;
     width: 60%; 
}
   
.carousel-inner {
     display: flex;
     transition: transform 0.5s ease-in-out;
}

.game-type-card {
     min-width: 50%; 
     box-sizing: border-box;
     padding: 20px;
}
   
.pagination {
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }
 
 .pagination-dot {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin: 0 5px;
     cursor: pointer;
     border: 2px solid #ffd73c;
     background-color: transparent;
 }
 
 .pagination-dot.active {
     background-color: #ffd73c;
     border: 2px solid #ffd73c;
 }