html, body {
     height: 100%;
     margin: 0;
     padding: 0;
   }
   
   body {
     background-color: #4cc7bd;
   }
   
   .create-game-screen {
     font-family: Arial, Helvetica, sans-serif;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
     width: 100vw;
     padding-bottom: 0;
   }
   
   .carousel-container {
     overflow: hidden;
     display: flex;
     flex-direction: column;
     position: relative;
     align-items: center;
     width: 100%; 
     height: 80vh;
 }

   .carousel {
     display: flex;
     overflow: hidden;
     width: 80%; 
     height: 80vh;
     margin-bottom: 0;
   }
   
   .carousel-inner {
     display: flex;
     transition: transform 0.5s ease-in-out;
     width: 200%; 
   }

   .pagination-container {
     display: flex;
     align-items: center;
     position: absolute;
     bottom: 10px;
   }
   
   .pagination {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 5px;
   }
   
   .pagination-dot {
     width: 10px;
     height: 10px;
     border-radius: 50%;
     margin: 0 5px;
     cursor: pointer;
     border: 2px solid #ffd73c;
     background-color: transparent;
   }
   
   .pagination-dot.active {
     background-color: #ffd73c;
     border: 2px solid #ffd73c;
   }
   
   .arrow-left {
     margin-right: 10px;
     cursor: pointer;
   }
   
   .arrow-right {
     margin-left: 10px;
     cursor: pointer;
   }
   
   .arrow::after {
     content: '';
     display: block;
     width: 0;
     height: 0;
     border-style: solid;
   }
   
   .arrow-left::after {
     border-width: 10px 15px 10px 0;
     border-color: transparent #f0f0f0 transparent transparent;
   }
   
   .arrow-right::after {
     border-width: 10px 0 10px 15px;
     border-color: transparent transparent transparent #f0f0f0;
   }