.quiz-game {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #4cc7bd;
     padding: 0;
     margin: 0;
     height: 100vh;
     display: flex;
     flex-direction: column;
     position: relative;
 }
 
 .quizgame-form {
     display: flex;
     flex-direction: column;
     position: relative;
    height: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
 }

 .question-section {
     background-color: #ffd73c;
     padding: 15px;
     border-radius: 8px;
     margin: 0 auto 20px;
     width: 50%;
     box-sizing: border-box;
     align-self: center;
     position: relative;
     top: 10%;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 
 .answers-section {
     background-color: #ffff;
    padding: 15px;
    border-radius: 8px;
    width: calc(100% - 30px);
    box-sizing: border-box;
    height: 65%;
    overflow-y: auto;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
 }

 .answers-grid {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 10px;
     margin-bottom: 20px;
 }
 
 .answer-button {
     background-color: #ddd;
     border: none;
     padding: 15px;
     border-radius: 8px;
     cursor: pointer;
     font-family: inherit;
     transition: background-color 0.3s ease;
     text-align: center;
     font-size: 18px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 
 .answer-button:hover {
     background-color: #e6c035;
 }
 
 .answer-button.selected {
     background-color: #ffdd99;
     border: 2px solid #ffd73c;
 }

 